.big-circle {
  width: 10px;
  height: 10px;
  display: inline-block;
  place-items: center;
  place-content: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.small-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}
