.doggy-multiplier {
  height: 100%;

  &::before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url("../../doggy-light-b.svg");
    background-position: 50% 0;
    background-size: cover;
    z-index: -1;
  }

  .add-doggy-btn {
    margin-top: 10px;
  }
}
